{% extends 'custom_admin/base.html' %}
{% load static %}

{% block content %}
<div class="address-list">
    <h2>Addresses</h2>
    <table class="address-table">
        <thead>
            <tr>
                <th>Shop Number</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for address in addresses %}
            <tr>
                <td>{{ address.shop_number }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.state }}</td>
                <td>
                    <a href="{% url 'address_update' address.id %}" class="btn btn-link">Edit</a>
                    <a href="{% url 'address_delete' address.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'custom_admin/css/address_list.css' %}">
{% endblock %}
